.cartPreview {
  min-width: fit-content;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-right: 2rem;
  background-color: var(--color-arcade-yellow-background);
  border: 2px solid var(--color-arcade-blue-intense);
}

.cartPreview table {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-width: fit-content;
  width: 100%;
}

.cartPreview td {
  padding: 0.25rem;
}

.total {
  margin-bottom: 0.5rem;
}

.container {
  position: fixed;
  margin-top: 6.3rem;
}
