.page {
  text-align: center;
}

.productPreview {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, var(--width-product-card-small));
  justify-content: center;
}
