.container {
  position: fixed;
  top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.filterArea {
  min-width: fit-content;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-left: 2rem;
  background-color: var(--color-arcade-yellow-background);
  border: 2px solid var(--color-arcade-blue-intense);
}

@media (max-width: 800px) {
  .container {
    position: inherit;
    top: 0;
    align-items: flex-start;
  }
}
