.form {
  margin: 1rem;
}

.quantity {
  display: flex;
  flex-direction: row;
}

.quantity input {
  margin-left: 1rem;
  max-width: 3rem;
  text-align: center;
}

.addButton {
  margin-top: 1rem;
}
