.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.company {
  margin-left: 1rem;
  flex: 1;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  text-wrap: nowrap;
}

.company ul {
  list-style-type: none;
  text-align: left;
}

.info {
  flex: 1;
  display: flex;
  justify-content: center;
  text-wrap: nowrap;
}

.socialMedia {
  margin-top: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialMedia ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.container ul li {
  margin: 0.5rem;
}

.link {
  position: relative;
  transition: 0.5s;

  &:hover {
    transform: translateY(-0.25rem);
  }
}

.info ul {
  text-align: left;
  list-style-type: none;
}
