.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.navBar a {
  position: relative;
  transition: 0.5s;

  &:hover {
    transform: translateY(-0.25rem);
    text-decoration: underline;
  }
}

.eightBit {
  font-family: var(--font-press-start-2p), 'Courier New', Courier, monospace;
  text-shadow: var(--color-arcade-pink) 2px 2px;
  line-height: 1.1;
}

.cartLink {
  text-wrap: nowrap;
  text-decoration: none;
}

.cartCount {
  display: inline-block;
}

.linkSmall {
  display: none;
}

@media (max-width: 800px) {
  .navBar a {
    &:hover {
      text-decoration: none;
    }
  }

  .linkSmall {
    display: inherit;
  }

  .linkBig {
    display: none;
  }
}
