.form {
  margin: 1rem;
}

.quantity {
  display: flex;
  flex-direction: row;
}

.quantity label {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quantity input {
  max-width: 4rem;
  text-align: center;
}

.addButton {
  width: 100%;
  margin-top: 1rem;
}
