.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 2s;
}

.navBar a {
  position: relative;
  &:hover {
    top: -0.5rem;
    text-decoration: underline;
  }
}
