.form {
  margin: auto;
  max-width: 600px;
}

.form td {
  min-width: 150px;
  padding: 0.5rem;
  width: 70%;

  &:first-child {
    width: 30%;
  }
}

.form fieldset {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.form button {
  margin-top: 1rem;
  width: 100%;
}

.form table {
  width: 100%;
}

.form input {
  width: 100%;
}

.form tr {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}
