.page td {
  min-width: 150px;
  padding: 0.5rem;
}

.page fieldset {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page h1 {
  text-align: center;
}

.total {
  margin: 1rem;
  text-align: center;
}
